.post-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.wrapper{
    display: flex;
    position: relative;
    max-width: 85%;
    min-width: 85%;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    background-color: white;
}



.post-container{
    display: flex;
    max-width: 400px;
    min-height: 365px;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;;
    min-width: min(100%, 330px);
    word-wrap: break-word;
}

.post-container a{
    max-width: 100%;

}

.post-container .photo{
    max-width: 100%;
    flex: 1;
}

.post-footer{
    max-width: 100%;
    flex: 1;
    font: var(--h3);
    margin-top: 8px;
}

.post-footer > h3{
    min-height: min(100%, 60px);
}

.post-container .photo img{
    min-width: 100%;
    max-width: 100%;
    min-height: 230px;
    max-height: 230px;
}

.wrapper .post-container .post-footer > h4{
    text-align: right;
    color: gray;
    font-weight: 500;
}

.post-container a:link,
.post-container  a:active, 
.post-container a:visited{
    text-decoration: none;
    color: var(--secondary-full);
}

.post-container a:hover{
    text-decoration: underline;
}

.pagination{
    padding: 10px 0 0;
    gap: 10px;
    min-width: 96%;
    position: absolute;
    bottom: 0;
    font-size: clamp(1rem, 2rem, 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.pagination a {
    color: var(--secondary-full);
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

@media screen and (max-width: 425px){
    .wrapper{
        max-width: 100%;
    }
}

@media screen and (max-width: 650px){
    .wrapper{
        padding: 10px 10px 30px 10px;
    }
}