<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
    <link rel="shortcut icon" href="https://imgs.search.brave.com/B0Z9vUrKJm2uhHTjOPRWqKxuci8hCc5BLYA93sjUpQE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNTI2/OTU2NTExL2VzL3Zl/Y3Rvci9mb25kby1h/YnN0cmFjdG8tbSVD/MyVBMWdpY28tbHV6/LXJvamEuanBnP3M9/NjEyeDYxMiZ3PTAm/az0yMCZjPXFFcUsx/MW1XX2NUMF9oZ0Ix/N0RtWURRUExVSDNP/UnFENXg2Z0lJakRJ/Zkk9">
    {% block head %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>

</head>
<body>
    <header>
            <div class="title">
                <a href="https://github.com/Aleavy"><img src="\static\img\github_logo.svg" alt="github_logo" id="github_logo" fill="#E1EBEE"></a>
                <p>Functional <span>Blog</span></p>
            </div>
            <nav class="navbar">
                <ul class="menu-nav">
                    <li class="menu-btn">
                        <a href="{{ url_for('home.start')}}" class="nav-btn"> Home</a>
                    </li>
                    {% if not current_user.is_authenticated %}
                        <li class="menu-btn"><a href="{{ url_for('auth.login')}}" class="nav-btn">Login</a></li>
                        <li class="menu-btn"><a href="{{url_for('auth.sign_up')}}" class="nav-btn">Sign Up</a></li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                        <li class="wrapper-menu-link">
                            <a href="#"  id="user">
                                <img src="\static\img\user_logo.svg" alt="user_logo" id="user_logo"><p>{{ current_user.username}}</p>
                            </a>
                            <ul class="links-link">
                                <li><a href="{{url_for('dashboard.dashboard')}}">Dashboard</a></li>
                                <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
                            </ul>
                        </li>

                    {% endif %}
                </ul>
            </nav>
    </header>
    {% block body %} {% endblock %}
</body>
</html>