{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
{{ moment.include_moment() }}
{{ moment.locale(auto_detect=True) }}
{% endblock %}

{% block title %} Home {% endblock%}

{% block body %}
<section class="post-view">
    <div class="wrapper">
            {% for post in posts%}
                <div class="post-container">
                    <div class="photo">
                        <img src="{{ url_for('home.show_images', user=post.user_id, filename=post.image)}}" alt="">
                    </div>
                    <div class="post-footer">
                        <a href="{{url_for('home.blog_post', id=post)}}"><h3>{{ post.title|truncate(52, True, '...', 0) }}</h3></a>
                        <h4>Published: {{ moment(post.date_created).format('YYYY/MM/DD, h:mm a') }}.</h4>
                        <h4>By: {{post.author}}</h4>
                    </div>
                </div>    
                
            {% endfor %}

            
    </div>  
</section>
{% endblock %}
